# private config
*.ansible-inventory.yaml
*.ansible-inventory.ini
*.private.playbook.yaml
*.private.yaml

# private dir
private/

# not yet
terraform/oci/**

# terraform
**/.terraform**
**/terraform.**
